{% extends 'base.html.twig' %}

{% block title %}Edit TranscodingProcesses{% endblock %}

{% block body %}
    <h1>Edit TranscodingProcesses</h1>

    {{ include('transcoding_processes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_transcoding_processes_index') }}">back to list</a>

    {{ include('transcoding_processes/_delete_form.html.twig') }}
{% endblock %}
