{% block create %}
<turbo-stream action="replace" target="my_div_id">
    <template>
        The element having the id "my_div_id" will be replaced by this block, without a full page reload!

        <div>The task "" has been created!</div>
    </template>
</turbo-stream>
{% endblock %}


{% block update %}
<turbo-stream action="replace" target="my_div_id">
    <template>
        UPDATE</div>
    </template>
</turbo-stream>
{% endblock %}

{% block remove %}
<turbo-stream action="replace" target="my_div_id">
    <template>
        REMOOVING</div>
    </template>
</turbo-stream>
{% endblock %}