{% extends 'base.html.twig' %}

{% block title %}New Testnversion{% endblock %}

{% block body %}
    <h1>Create new Testnversion</h1>

    {{ include('testnversion/_form.html.twig') }}

    <a href="{{ path('app_testnversion_index') }}">back to list</a>
{% endblock %}
