# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    kp_token: '%env(KP_TOKEN)%'
    kp_base_url: '%env(KP_BASE_URL)%'
    kp_version_api: '%env(KP_VERSION_API)%'
    brochures_directory: '%kernel.project_dir%/public/img'

services:
    App\Service\FfmpegService:
        autowire: true
    App\Service\FileNameParserService:
        autowire: true
    App\Service\ThumbnailExtractorService:
        arguments:
            - '@App\Service\DbAssist\SmartyDbAssistService'
            - '@App\Service\ContentDirHandler\DirMakerService'
            - '@App\Service\FfmpegService'
    App\Service\Api\External\Convertio\ConvertioService:
        autowire: true
    App\Service\Api\External\Kinopoisk\ActorHelperService:
        arguments:
            - '@App\Service\DbAssist\SmartyDbAssistService'
    App\Service\Api\External\Kinopoisk\GetContentInfoService:
        arguments:
            - '@App\Service\Api\External\Kinopoisk\KinopoiskUrlMakerService'
            - '@App\Service\Api\BaseApiService'
    App\Service\Api\External\Kinopoisk\KinopoiskProcessorService:
        arguments:
            - '@App\Service\Cleaner\StringCleanerService'
            - '@App\Service\Api\External\Kinopoisk\PretrainingDataService'
            - '@App\Service\Api\External\Smarty\SmartyContentApiService'
            - '@App\Service\DbAssist\SmartyDbAssistService'
            - '@App\Service\ImageHandler\ImageHandlerService'
    App\Service\Api\External\Kinopoisk\KinopoiskUrlMakerService:
        autowire: true
    App\Service\Api\External\Kinopoisk\PretrainingDataService:
        autowire: true
    App\Service\Api\External\Smarty\SmartyContentApiService:
        autowire: true
    App\Service\Api\Inside\MakeContentDirService:
        arguments:
            - '@App\Service\ContentDirHandler\DirMakerService'
    App\Service\Api\Inside\SerialHelperService:
        arguments:
            - '@App\Service\Api\External\Smarty\SmartyContentApiService'
            - '@App\Service\ThumbnailExtractorService'
            - '@App\Service\FfmpegService'
    App\Service\Api\BaseApiService:
        autowire: true
    App\Service\Cleaner\StringCleanerService:
        autowire: true
    App\Service\ContentDirHandler\DirMakerService:
        autowire: true
    App\Service\DbAssist\SmartyDbAssistService:
        arguments:
            - '@App\Service\DbAssist\SmartyDbConnectorService'
    App\Service\DbAssist\SmartyDbConnectorService:
        autowire: true
    App\Service\ImageHandler\ImageConverterService:
        autowire: true
    App\Service\ImageHandler\ImageDirectoryHelperService:
        autowire: true
    App\Service\ImageHandler\ImageHandlerService:
        arguments:
            - '@App\Service\ImageHandler\ImageConverterService'
            - '@App\Service\ImageHandler\ImageDirectoryHelperService'
            - '@App\Service\Api\External\Convertio\ConvertioService'

    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
