<form method="post" action="{{ path('app_vod_delete', {'id': vod.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vod.id) }}">
    <button class="btn">Delete</button>
</form>
