{% extends 'base.html.twig' %}

{% block title %}Hello VueMakerDirController!{% endblock %}

{% block body %}

    <h1 style="font-family: 'Daxline', sans-serif;"> {{ controller_name }}</h1>


<div id="dircreator"></div>

{% endblock %}
